:root {
  --mainColor: #4f4b45;
  --secondaryColor: #3d3a36;

  --borderColor: #92a88f;

  --mainText: #faf3e3;
  --secondaryText: #aabda7;

  --icon: #f87c56;

  --themeDotBorder: #313131;

  --previewBg: hsl(75, 38%, 25%, 0.959);
  --previewShadow: #f87c56;

  --btnColor: #f87c56;

  --filter: rgb(61, 58, 54, 0.5);
}
