:root {
  --mainColor: #181d24;
  --secondaryColor: #11151b;

  --borderColor: #c1c1c1;

  --mainText: #c0bfbe;
  --secondaryText: #a2a3a3;
  --icon: #4a5e62;

  --themeDotBorder: #313131;

  --previewBg: hsl(107, 28%, 87%, 0.9);
  --previewShadow: #f9d268;

  --btnColor: Black;

  --filter: rgb(17, 21, 27, 0.5);
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body * {
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Oxygen", sans-serif;
  font-weight: 500;
}
a,
p,
li,
label,
small,
span {
  color: var(--secondaryText);
  font-family: "Mulish", sans-serif;
}

.section-header {
  color: var(--mainText);
  font-family: "Mulish", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #2787a7;
}

li {
  list-style: none;
}

.s0 {
  background-image: url("images/bg2.jpg");
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.s1 {
  background-color: var(--mainColor);
  /* border-bottom: 1px solid var(--borderColor); */
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  /* border-bottom: 1px solid var(--borderColor); */
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting {
  grid-area: greeting;
  text-align: center;
  align-content: center;
}

.intro-wrapper {
  /* background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);*/

  background-color: var(--filter);
  height: 38em;
  display: grid;
  align-items: center;
}

.preview-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em 10em;
  grid-template-areas:
    "greeting"
    "pre-info";
}

.pre-info {
  grid-area: pre-info;
  text-align: center;
  align-content: center;
}

.pre-info p {
  color: var(--mainText);
}

.contact-btn {
  color: var(--mainText);
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  padding: 10px;
  border: 2px solid var(--mainText);
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.contact-btn:hover {
  color: var(--mainText);
  background: var(--icon);
  border-color: var(--icon);
  transition: all 0.4s ease 0s;
}

.nav-wrapper {
  border-radius: 5px 5px 0 0;
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}

.nav-wrapper a {
  color: var(--mainText);
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin: 5px;
}

.greeting > h1 {
  margin: 0;
  color: var(--mainText);
}

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.right-column {
  grid-area: right-column;
  display: flex;
  padding: 20px;
  /* align-content: center; */
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

#dot-1 {
  background-color: #f08080;
}

#dot-2 {
  background-color: #ffff89;
}

#dot-3 {
  background-color: #83f883;
}

.browser-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
}

#profile-pic {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}

#theme-options-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.theme-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);
}

.theme-dot:hover {
  border-width: 5px;
}

#light-mode {
  background-color: #181d24;
}

#green-mode {
  background-color: #4a544a;
}

#brown-mode {
  background-color: #4f4b45;
}

#purple-mode {
  background-color: #434c5c;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  margin-top: 40px;
  margin-left: 40px;
  padding-right: 50px;
  position: absolute;
}

#preview {
  width: 300px;
  height: 180px;
  border: 1.5px solid var(--borderColor);
  background-color: var(--previewBg);
  padding-right: 15px;
  padding-left: 35px;
  position: relative;
}
#preview:after {
  position: absolute;
  background-color: var(--mainColor);
  width: 50px;
  height: 50px;
  border-left: 1.5px solid var(--borderColor);
  border-bottom: 1.5px solid var(--borderColor);
  right: 100%;
  top: 37%;
  margin-left: -25px;
  margin-right: -25px;
  content: "";
  transform: rotate(45deg);
}

.img-wrapper {
  height: 300px;
  width: 200px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 8px;
}

.tape {
  width: 100px;
  height: 30px;
  background-color: hsl(0, 1%, 50%, 0.9);
  position: absolute;
}

.corners {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  border: 1.5px solid #2787a7;
  background-color: #fff;
  position: absolute;

  -webkit-box-shadow: 3px 3px 5px 0px rgba(173, 173, 173, 1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(173, 173, 173, 1);
  box-shadow: 3px 3px 5px 0px rgba(173, 173, 173, 1);
}

#tape1 {
  top: 1px;
  left: -35px;
  transform: rotate(135deg);
}
#tape2 {
  bottom: 5px;
  right: -40px;
  transform: rotate(135deg);
}

#corner-tl {
  top: -5px;
  left: -5px;
}
#corner-tr {
  top: -5px;
  right: -5px;
}
#corner-bl {
  bottom: -5px;
  left: -5px;
}
#corner-br {
  bottom: -5px;
  right: -5px;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 40px;
}

#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--icon);
}

.social-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "github linkedin";
  gap: 20px;
}

.github {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  grid-area: github;
}

.github i,
.linkedin i {
  font-size: 8em;
  color: var(--icon);
}

#github-profile {
  height: 450px;
  border-radius: 5px;
  border: 2px solid var(--borderColor);
}

.linkedin {
  grid-area: linkedin;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

.thumbnail {
  width: 100%;
  height: 180px;
  display: block;
  object-fit: cover;
  /* border-radius: 5px 5px 0 0; */
}

.post {
  background-color: var(--secondaryColor);
  /* border-radius: 5px; */
  /* border: 1px solid var(--borderColor); */
}

.post-preview {
  padding: 10px;
  min-height: 175px;
}

.post-title {
  color: var(--mainText);
  margin: 0;
}

.post-intro {
  color: var(--secondaryText);
  font-size: 16px;
}

.footer-wrapper {
  max-width: 50%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px;
}

.footer-wrapper a {
  color: var(--secondaryText);
}

.getintouch {
  color: var(--mainText);
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 880px) {
  /* .nav-wrapper {
    min-width: 370px;
  } */

  .intro-wrapper {
    height: 25em;
  }

  #preview:after {
    border-left: 1.5px solid var(--borderColor);
    border-top: 1.5px solid var(--borderColor);
    border-bottom: 0px;
    bottom: 100%;
    right: 0%;
    top: 0%;
    left: 50%;
    margin-top: -27px;
  }

  #preview-shadow {
    width: 300px;
    height: 180px;
    margin-top: 40px;
    margin-right: 40px;
    padding-right: 55px;
    position: absolute;
  }

  .right-column {
    justify-content: center;
  }

  .footer-wrapper {
    max-width: 70%;
  }
}

@media screen and (max-width: 470px) {
  #preview-shadow {
    max-width: 265px;
    height: 160px;
    padding-right: 30px;
    margin-left: 30px;
  }

  #preview {
    width: 260px;
  }
}

@media screen and (max-width: 390px) {
  #preview-shadow {
    max-width: 235px;
    height: 160px;
    padding-right: 25px;
    margin-left: 25px;
  }

  #preview {
    width: 220px;
  }
}

@media screen and (max-width: 335px) {
  #preview-shadow {
    max-width: 220px;
    height: 160px;
    padding-right: 10px;
    margin-left: 15px;
  }

  #preview {
    width: 180px;
  }
}
